$color-background: #2E3440;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: #a3be8c;
$color-meta: #a3be8c;
$color-meta-code: lighten($color-meta, 10%);
$color-link: #8fbcbb;
$color-title: #5D80AE;
$color-text: #ECEFF4;
$color-accent-1: #81A1C1;
$color-accent-2: #8fbcbb;
$color-accent-3: #5D80AE;
$color-quote: #cc2a41;
