@font-face {
  font-style: normal;
  font-family: "Roboto";
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/npm/roboto-fontface@0.10.0/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/npm/roboto-fontface@0.10.0/fonts/roboto/Roboto-Regular.woff") format("woff");
};
